<div class="bg-dark text-light">
  <div class="container row">
    <div class="col">
      <div class="img_institucion">
        <img src="../.././../assets/img/LogoUNC.png" class="rounded float-left" alt="UNC">
      </div>
      <h5 class="card-title">{{institucion.nombre}}</h5>
      <p class="card-text">Facultad {{institucion.facultad}}</p>
      <p class="card-text">Escuela de {{institucion.escuela}}</p>
    </div>
    <div class="col">
      <h5 class="card-title">Administrador de Pagina</h5>
      <p class="card-text">{{persona.nombre}} {{persona.Apellidos}}</p>
      <p class="card-text">telefono: {{persona.tef}}</p>
      <p>direccion: {{persona.Direccion}}</p>
      <p> <small>&copy;Copyright {{persona.nombre}} {{persona.Apellidos}} {{anio}}</small> </p>
    </div>
  </div>
</div>
