<div class="social-bar">
    <div>
        <ul>
            <li>
                <a href="http://www.facebook.com/usuario"
                    class="icon icon-facebook" target="_blank"></a>
            </li>
            <li>
                <a href="http://www.twitter.com/usuario"
                    class="icon icon-instagram" target="_blank"></a>
            </li>
            <li>
                <a href="http://www.youtube.com/usuario"
                    class="icon icon-youtube" target="_blank"></a>
            </li>
            <li>
                <a href="http://www.github.com/usuario"
                    class="icon icon-github" target="_blank"></a>
            </li>
        </ul>
    </div>
</div>